html,body{
    width: 100%;
    height: 100%;
    font-size: 15px;
}
button{
    font-size: 15px;
    width: 100%;
}
button:focus {
    outline:0;
}
.Container{
    margin: 50px auto;
    width: 40%;
    height: 50%;
    display: flex; 
    flex-wrap: wrap;
}
.Nav{
    height: 20%;
    width:50%;
}
#btnNavEncr,#btnNavDecr{  
    height: 100%;
}
#encrypt,#decrypt{
    width:100%;
    height: 100%;
    flex-direction: column;
    background: wheat;
}
.row{
    height: 25%;
    width: 100%;
    display: flex;
}
.element{
    margin-top:10%;
    margin-left:10%;
}
#codeKeyEnc,#codeKeyDec{
    width: 50%;
    height: 28%;
    margin-top:8%;
    margin-left:3%;
}
label{
    margin-right: 12px;
}
input[type="number"]{
    width: 30%;
    margin-bottom: 15px;
}
.btnCode{
    width: 50%;
    height: 40%;
    background: rgb(72, 125, 134);
    border-radius: 5px;
}
input[type="text"]{
    width: 50%;
    height: 30%;
}
p{
    width: 50%;
    height: 37%;
    margin-top: 25px;
    background: white;
    vertical-align: middle;
}
.visiblity {
    display: none;
}
.selected{
    background: gray;
}
.displayFlex{
    display: flex;
}


